<div id="books-index">
  <div class="row">
    <div class="col-md-3 col-sm-3">
      <h3>PostgreSQL: Up and Running, 2nd Edition</h3>
      <!-- http://shop.oreilly.com/product/0636920032144.do? -->
      <%= image_tag('covers/PSQL-UpandR.jpg') %>
      <%= link_to 'Read More', book_path(1), class:'btn btn-primary' %>
    </div>
    <div class="col-md-3 col-sm-3">
      <h3>Heroku Up & Running</h3>
      <!-- http://shop.oreilly.com/product/0636920027409.do# -->
      <%= image_tag("covers/Heroku-UpandR.jpg") %>
      <%=link_to "Read More", book_path(1), class:'btn btn-primary' %>
    </div>
    <div class="col-md-3 col-sm-3">
      <h3>Becoming a Better Programmer</h3>
      <!-- http://shop.oreilly.com/product/0636920033929.do# -->
      <%= image_tag("covers/BetterProgram.jpg") %>
      <%=link_to "Read More", book_path(1), class:'btn btn-primary' %>
    </div>
    <div class="col-md-3 col-sm-3">
      <h3>Rails 4 Test Prescriptions</h3>
      <!-- https://pragprog.com/book/nrtest2/rails-4-test-prescriptions -->
      <%= image_tag("covers/RailsTestPrescript.jpg") %>
      <%=link_to "Read More", book_path(1), class:'btn btn-primary' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-sm-3">
      <h3>Agile Web Development with Rails 4</h3>
      <%= image_tag("covers/AgileRails.jpg") %>
      <!-- https://pragprog.com/book/rails4/agile-web-development-with-rails-4 -->
      <%=link_to "Read More", book_path(1), class:'btn btn-primary' %>
    </div>
    <div class="col-md-3 col-sm-3">
      <h3>CoffeeScript: Accelerated JavaScript Development</h3>
      <!-- https://pragprog.com/book/tbcoffee2/coffeescript -->
      <%= image_tag("covers/Coffee-PP.jpg") %>
      <%=link_to "Read More", book_path(1), class:'btn btn-primary' %>
    </div>
    <div class="col-md-3 col-sm-3">
      <h3>Ruby Cookbook, Second Edition</h3>
      <!-- http://shop.oreilly.com/product/0636920032236.do# -->
      <%= image_tag("covers/RubyCook.jpg") %>
      <%=link_to "Read More", book_path(1), class:'btn btn-primary' %>
    </div>
    <div class="col-md-3 col-sm-3">
      <h3>The Ruby Closures Book</h3>
      <!-- https://leanpub.com/therubyclosuresbook -->
      <%= image_tag("covers/RubyClosures.png") %>
      <%=link_to "Read More", book_path(1), class:'btn btn-primary' %>
    </div>
  </div>
</div>
