<div id="books-show">
  <h2><%= @book.title %></h2>
    <div class="books-show-left">
      <%= image_tag(@book.coverpath) %>
    </div>
    <div class="books-show-right">
      <h3>Book Information:</h3>
        <ul>
          <li><strong>Category:</strong>&nbsp;<%= @book.category.name %></li>
          <li><strong>Author:</strong>&nbsp;<%= @book.author.first_name %> <%= @book.author.last_name %></li>
          <li><strong>Publisher:</strong>&nbsp;<%= @book.publisher.name %></li>
          <li><strong>Year:</strong>&nbsp;<%= @book.year %></li>
          <li><strong>ISBN:</strong>&nbsp;<%= @book.isbn %></li>
          <li><strong>Format:</strong>&nbsp;<%= @book.format %></li>
          <li><strong>Pages:</strong>&nbsp;<%= @book.pages %></li>
        </ul>

        <%= link_to "Buy For " + "$"+@book.price.to_s, @book.buy, class: "btn btn-success", target: '_blank' %>
    </div>

    <div class="clearfix"></div>
      <h4>Description:</h4>
      <p><%= @book.excerpt %></p>

    <h3>Admin. Functions</h3>
      <%= link_to 'Edit', edit_book_path(@book.id) %>  |  <%= link_to 'Delete', book_path(@book), method: :delete, data: {confirm: 'Are you sure?'} %>

</div>
